body {
  font-family: "Lexend Deca", sans-serif;
  background-color: hsl(0, 0%, 98%);
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  padding: 20px;
  text-align: center;
}
header {
  margin-bottom: 40px;
}
.first {
  font-size: 32px;
  font-weight: 100;
      color:  hsl(212, 6%, 44%);
      font-family: Poppins, sans-serif;
}
header h1{
      color:hsl(234, 12%, 34%);
}
header p {
  color:hsl(234, 12%, 34%);
  font-size: 18px;
  
}
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}
.cards h2{
    font-family: Arial, Helvetica, sans-serif;
    color:hsl(234, 12%, 34%);
}
.cards p{
    color:  hsl(212, 6%, 44%);
    font-style: italic;
}
.card-1 {
  margin-top: 100px;
  text-align: left;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 360px;
  border-top: 4px solid hsl(161, 82%, 55%);
  height: 260px;
}
.image-1 {
  float: right;
}
.card-2 {
  text-align: left;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-bottom: 30px;
  width: 360px;
  border-top: 4px solid hsl(338, 85%, 48%);
  height: 260px;
}
.image-2 {
  float: right;
}
.card-3 {
  text-align: left;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;
  width: 360px;
  box-sizing: border-box;
  border-top: 4px solid hsl(46, 83%, 55%);
  height: 260px;
}
.image-3 {
  float: right;
}
.card-4 {
  text-align: left;
  margin-top: 100px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 360px;
  border-top: 4px solid hsl(232, 80%, 51%);
  height: 260px;
}
.image-4 {
  float: right;
}
@media screen and (min-width:300px) and (max-width:767px){
  .card-4{
        margin-top: -50px;
    }
    .card-2,
    .card-3{
        width: 100%;
    }
}

/* TABLETS RESPONSIVENESS */
@media screen and (min-width:768px) and (max-width:911px) {
    .cards {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 30px;
       margin: 0;
       width: 100%;
    }
    .card-4{
        margin-top: -340px;
    }
    .card-1{
margin-top: 0;
margin-right: 0;
    }
}
@media screen and (min-width:912px) and (max-width:1279px) {
    .cards{
        display: flex;
        width: 100%;
    }
    .card-4{
        margin-right: 410px;
    }
     .card-4{
        margin-top: -380px;
    }
    .card-1{
margin-top: 0;
margin-right: 0;
    }
}